body {
  font-family: 'Inconsolata', monospace;
   box-sizing: border-box;
   background-color: antiquewhite;
  
}


table, th, td {
    border: 2px solid black;
    border-collapse: collapse;

  }
  

  th, td {
    text-align: center;
  }
  
  th {
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    color: rgb(59, 36, 36);
    border: black;
    padding: .5px;

  }
  
  td {
      padding: 4px;
  }

/* .............. index.html ...................................*/

.headerht {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  padding: .8cm;
  position: fixed;
  top: 0;
  width: 100%

}


header h1 {
  text-align: center;
  font-size: x-large;
}

.headerht p {
  font-size: x-large;
  font-family: 'Pacifico', cursive;
}

.headerht nav ul li {
  display: inline;
  position: relative;
  left: 24cm;
  top: .5cm;
  padding: .7em;
  font-size: large;
}

.headerht nav ul li a {
  text-decoration: none;
}

.headerht nav ul {
  list-style: none;
}



.headerht nav ul li:last-child {
  background-color: #def0ea;
  border-radius: 8px;
  padding: 5px;
}



.mainindex {
  margin-top: 5cm;
  margin-left: 4cm;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: .6em;
}

.mainindex:nth-child(2) {
  line-height: 30px;
}


.mainindex div p {
  margin-top: 1.5em;
}

  

/*------------------------ form --------------------------------*/

.fieldset {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  border-style: double;
  width: 50%;
}

 #min , #max , #avg {
   padding: 5px;
  border-radius: 5px;
  width: 8%;
  margin-left: 20px;
}

#sub {
  margin-left: 1cm;
}
